<a href="https://colab.research.google.com/github/GabrielFigueroa22/CompYProg2022G1157/blob/main/Fundamentos2CyP1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos estructurados de Python

1. Listas
2. Tuplas
3. Diccionario
4. Conjuntos (opcional)

#Listas

- Tipo de dato que agrupa variables o valores
- Estructura secuencial (undexados empezando por 0)
- Se declara de dos formas
  - Usando []
  - Usando list()
- Puede contener tipos de dato viversos (en otros lenguajes de programacion eso no es posible de forma directa)
- Los elementos internos se seleccionan con []
- Soporta slicing
- SON MUTABLES
- Generadores [var for x in range (10)]
- Al ser una clase contiene muchos metodos utiles

In [ ]:
numeros = [10,5,2,3,1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]

In [ ]:
cosas = [12,2,True,"jose",1.57,["pera", "kiwi", "uva"]]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3:])
cosas[3] = cosas[3].upper()
print(cosas)

[12, 2, True, 'jose', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSE', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing
print(numeros[3:8])
print(numeros[8:10])
print(numeros[-3:-1:])
print(numeros[::-1])
print(numeros[::])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
numeros = [ x+50 for x in range (1001)]
print(numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050]

# Funcion range ()
tiene los  mismos componentes de slicing
ini, stop, incremento
range (1,101,1)

In [ ]:
numeros = [ x for x in range (50,101)]
print(numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# metodos disponibles de las listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros = [4,1,15,8,22,34,50]
print(numeros)
numeros.append(99)
print(numeros)
#numeros = []
#numeros.clear()
print(numeros)

frutas = ["uvas","kiwi","manzana"]
copia = frutas
print(frutas)
print(copia)
frutas.append("naranja")
print(frutas)
print(copia)


colores = ["rojo","azul","blanco"]
copia2 = colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

print("Numero de veces que aparece el 15 = ", numeros.count(15))

#extend

nombres = ["jose", "pedro", "karina"]
otrosNombres = ["josue","diana","dalia"]

print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)


otrosNombres.extend(["Jesus","Maria","Jose"])
print(otrosNombres)
print("Jesus esta en la posicion: ", otrosNombres.index("Jesus"))
otrosNombres.insert(4, "espiritu santo")
print(otrosNombres)

resultado = otrosNombres.pop()
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[4, 1, 15, 8, 22, 34, 50, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'naranja']
['uvas', 'kiwi', 'manzana', 'naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Numero de veces que aparece el 15 =  1
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['jose', 'pedro', 'karina', 'josue', 'diana', 'dalia']
['josue', 'diana', 'dalia']
['josue', 'diana', 'dalia', 'Jesus', 'Maria', 'Jose']
Jesus esta en la posicion:  3
['josue', 'diana', 'dalia', 'Jesus', 'espiritu santo', 'Maria', 'Jose']
['josue', 'diana', 'dalia', 'Jesus', 'espiritu santo', 'Maria']
Jose

# Tuplas

### Caracteristicas de las tuplas
- Datos agrupados
- Estructura secuencial, indexadaa a partir de 0
- pueden tener de 0 a n elementos
- NO SON MUTABLES
- Son buenas para almacenar informacion de consulta
- puede almacenar informacion de diferentes tipos de dato
- Pueden estar anidadas
- Tienen metodos utiles

In [ ]:
info = ("juan123" , "dios1234" , "123.232.1.12")
print(info)
print(info[1])


numeros = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros)
print(numeros[5:11])

cosas = (info,numeros)
print(cosas)
print(cosas[1][5:11:1])

('juan123', 'dios1234', '123.232.1.12')
dios1234
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(6, 7, 8, 9, 10, 11)
(('juan123', 'dios1234', '123.232.1.12'), (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(6, 7, 8, 9, 10, 11)

# Metodos de Tuplas

### Son los mismos de las listas pero los que no involucren mutabilidad

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionario

### Caracteristicas de los diccionarios

- Agrupan datos pero de forma no lineal
- Formado por pares del tipo llave: valor, donde:
  - llave es de tipo atring (siempre)
  - valor puede ser cualquier tipo de dato, incluyendo los diccionarios
- se seleccionan con la llave de la forma: ["id_llave"]
- son mutables
- Son anidables
- son equivalentes al tipo de dato JSON del lenguaje JavaScript (JS)

In [ ]:
alumno = {"nombre" : "jose"}
print( alumno)
print( alumno["nombre"])
alumno = {"nombre":"Jose" , "nc":"2129229292" , "edad":18}
print("Edad del alumno = " , alumno["edad"])
print(alumno["nombre"].upper())

alumno2 = dict()
alumno2["nombre"] = "jose"
print(alumno2)
alumno2["nc"] = "2129229292"
alumno2["edad"] = 18
print(alumno2)
alumno2["edad"] = alumno2["edad"] +1
print(alumno2)

{'nombre': 'jose'}
jose
Edad del alumno =  18
JOSE
{'nombre': 'jose'}
{'nombre': 'jose', 'nc': '2129229292', 'edad': 18}
{'nombre': 'jose', 'nc': '2129229292', 'edad': 19}

In [ ]:
cliente = {"id":"CT2121","nombre":"Jose Pedroza Rosales","telefono":"casa = 554456565 cel = 0445567767"}
print(cliente)
cliente = {"id":"CT2121"
,"nombre": 
{"nombres": ["Jose", "Eduardo"],"paterno":"Pedroza", "materno":"Rosales"}
,"telefonos":{"casa":"5566324234","trabajo":"554433232","celular":"04455234234"}
,"productos":{"ahorro":{ "numero_cuenta":"7788","ahorro":"2500.5"}
            ,"tarjeta":[{"tipo":"debito","saldo":"10000.5"},{"tipo":"credito preferente","limite":"250000.5"},{"tipo":"lite","limite":"15000.5"}]}
            ,"direccion":{"calle":"Av.Central","numero":"1245","colonia":"Impulsora","delegacion":"Neza",
                          "estado":{"clave":"15","nombre_corto":"EdoMex","nombre":"Estado de Mexico"}}}
print(cliente["telefonos"]["casa"])
print(cliente)
print(cliente["productos"]["ahorro"]["ahorro"])
print(cliente["productos"]["tarjeta"][2]["limite"])
print(cliente["direccion"]["estado"]["nombre"].upper())
#cliente["productos"]["ahorro"]["ahorro"] -= 1500.0
#print(cliente["productos"])

{'id': 'CT2121', 'nombre': 'Jose Pedroza Rosales', 'telefono': 'casa = 554456565 cel = 0445567767'}
5566324234
{'id': 'CT2121', 'nombre': {'nombres': ['Jose', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'telefonos': {'casa': '5566324234', 'trabajo': '554433232', 'celular': '04455234234'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': '2500.5'}, 'tarjeta': [{'tipo': 'debito', 'saldo': '10000.5'}, {'tipo': 'credito preferente', 'limite': '250000.5'}, {'tipo': 'lite', 'limite': '15000.5'}]}, 'direccion': {'calle': 'Av.Central', 'numero': '1245', 'colonia': 'Impulsora', 'delegacion': 'Neza', 'estado': {'clave': '15', 'nombre_corto': 'EdoMex', 'nombre': 'Estado de Mexico'}}}
2500.5
15000.5
ESTADO DE MEXICO

In [ ]:
MazeRunner = {"codigo":"319002"
,"equipo": 
{"integrantes": ["Tomas", "Newt", "Minho", "Teresa", "Alby", "Gally", "Chuck"],"Sub":"Brenda"}
,"peliculas":{"primera":"Correr o morir","segunda":"Prueba de fuego","tercera":"La cura mortal"}
,"libros":{"The Maze Runner":{ "1ra version":"2009","2da version":"2010"}
            ,"Prueba de fuego":[{"1ra version":"2010","2da version":"2011"}]
            ,"La cura mortal":[{"1ra version":"2010","2da version":"2011","3ra version":"2013"}]}}
print(MazeRunner)

{'codigo': '319002', 'equipo': {'integrantes': ['Tomas', 'Newt', 'Minho', 'Teresa', 'Alby', 'Gally', 'Chuck'], 'Sub': 'Brenda'}, 'peliculas': {'primera': 'Correr o morir', 'segunda': 'Prueba de fuego', 'tercera': 'La cura mortal'}, 'libros': {'The Maze Runner': {'1ra version': '2009', '2da version': '2010'}, 'Prueba de fuego': [{'1ra version': '2010', '2da version': '2011'}], 'La cura mortal': [{'1ra version': '2010', '2da version': '2011', '3ra version': '2013'}]}}

#Algoritmo de programaciom

###Se puede crear cualquier tipo de algoritmo empleando solamente 3 estructuras de control:

1. Secuencia:
    - La representacion de la memoria de programa (Arquitectura Von Newman)

2. Seleccion:
    - Es la estructura de control que decide si un bloque de programa se ejecuta o no se ejecuta. Tambien permite seleccionar ejecutar un bloquee entre un conjunto de opciones.
    En resumen tenemos: Seleccion simple, seleccion con bifurcacion y seleccion multiple.

3. Repeticion:
    - Este tipo de estructuras nos permite automatizar la ejecucion repetitiva mientras ciertas condiciones se cumplan
    - Desde...hasta(estructura for)
    - Haz mientras(estructura while)
    - haz y luego validaz mientras(estructura do while)

# seleccion simple
-- Documentar o poner notas

la estructura if

ibt edad = 0;
printf("dame tu edad");

scanf("%i", %edad);

if(edad >= 18) {

  printf("ERES MAYOR DE EDAD");
}

printf("Fin de programa")

In [ ]:
edad = int(input("dame tu edad: "))
print(f"tecleaste {edad} años")
if edad >= 18 :
    print("ERES MAYOR DE EDAD")
    print("Algo")
    print("otra cosa")
print("fin del programa")

dame tu edad: 16
tecleaste 16 años
fin del programa

In [ ]:
calificacion = int(input("cual es tu calificacion? "))
print(f"tecleaste {calificacion}")
if calificacion > 8 :
  print("aprobado")
print("fin del programa")
#<

cual es tu calificacion? 10
tecleaste 10
aprobado
fin del programa

In [ ]:
sueldo = float(input("cual es tu sueldo? "))
aum = sueldo*0.15
msue = sueldo + aum
if sueldo < 1000 :
  aum = sueldo*0.15
  Msue = sueldo + aum
  print(msue)
print("fin del programa")

cual es tu sueldo? 869.5652173913044
1000.0
fin del programa

# Estructura de seleccion con bifurcacion (if-else)

esta estructura selecciona una de dos opciones de ejecucion, se ejecuta un bloque si una condicion se cimple o se ejecuta otro bloque si la condicion no se cumple (else)

if -condicion- 

  -bloque de ejecucion-

else

  -bloque de ejecucion alterno-

In [ ]:
edad = int(input("Dame tu edad: "))
print(f"Tecleaste {edad} años")
if edad >=18:
    print("Eres mayor de edad, ten tu cheve")
else:
    print("Eres menor de edad, ten tu boing")
print("Fin del programa")

Dame tu edad: 19
Tecleaste 19 años
Eres mayor de edad, ten tu cheve
Fin del programa

In [ ]:
edad = int(input("Dame tu edad: "))
dinero = float(input("Cuanto dinero tienes? "))
print(f"Tecleaste {edad} años")
print(f"Tecleaste {dinero} pesos")
if edad >=18:
    if dinero >=36:
        print("Eres mayor de edad, ten tu cheve")
    else:
        print("Eres mayor de edad, pero te quedas sin tu cheve")
else:
    if dinero >=36:
        print("Eres menor de edad, ten tu boing")
    else:
        print("Eres menor de edad, pero te quedas sin un boing")
print("Fin del programa")

Dame tu edad: 1234
Cuanto dinero tienes? 1
Tecleaste 1234 años
Tecleaste 1.0 pesos
Eres mayor de edad, pero te quedas sin tu cheve
Fin del programa

El codigo anterior se puede simplificar usando una palabra reservada especial que existe en algunos lenguajes de programacion#

### elif

In [ ]:
edad = int(input("Dame tu edad: "))
dinero = float(input("Cuanto dinero tienes? "))
print(f"Tecleaste {edad} años")
print(f"Tecleaste {dinero} pesos")
if edad >=18:
    if dinero >=36:
        print("Eres mayor de edad, ten tu cheve")
    else:
        print("Eres mayor de edad, pero te quedas sin tu cheve")
elif: dinero >=36:
    print("Eres menor de edad, ten tu boing")
else:
    print("Eres menor de edad, pero te quedas sin un boing")
print("Fin del programa")

Dame tu edad: 7
Cuanto dinero tienes? 22345678
Tecleaste 7 años
Tecleaste 22345678.0 pesos
Eres menor de edad, ten tu boing
Fin del programa

In [ ]:
cal = float(input("Dame tu calificacion: "))
if cal >= 8:
    print("Aprobaste")
else:
    print("Reprobaste")
print("Fin del programa")

Dame tu calificacion: 9999
Aprobaste
Fin del programa

In [ ]:
sue = float(input("Escribe tu sueldo: "))
aum = 0
nsue = 0

if sue < 1000:
    aum = sue* 0.15
    nsue = sue + aum
else:
    aum = sue*0.12
    nsue = sue + aum 
print(nsue)

Escribe tu sueldo: 1229393939833243422344334344334234
1.3769212126132325e+33

# ejercicio if-else
### Hacer u  programa que solicite el dia de la semana en un valor numerico entero del 1 al 7 (avisarle al usuario si proporciono un valor fuera del rango)

### posteriormente imprimira el dia de la semana correspondiente al numero capturado
1. lunes
2. martes
3. miercoles
4. jueves
5. viernes
6. sabado
7. domingo

In [ ]:
dia = int(input("Dame un dia de la semana representandolo del 1 al 7: "))
if dia is 1:
    print("Lunes")
elif dia is 2:
    print("Martes")
elif dia is 3:
    print("Miercoles")
elif dia is 4:
    print("Jueves")
elif dia is 5:
    print("Viernes")
elif dia is 6:
    print("Sabado")
elif dia is 7:
    print("Domingo")
else:
    print("Tiene que ser un numero del 1 al 7")
print("Fin del programa")

Dame un dia de la semana representandolo del 1 al 7: 5
Viernes
Fin del programa

In [ ]:
dia = int(input("Ingresa un numero entre 1 y 7: "))
print(f"Capturaste el numero: {dia} ")

if dia >=1 and dia <=7:
    if dia == 1:
        print("Lunes")
    else:
        if dia == 2:
            print("Martes")
        else:
            if dia == 3:
                print("Miercoles")
            else:
                if dia == 4:
                    print("Jueves")
                else:
                    if dia == 5:
                        print("Viernes")
                    else:
                        if dia == 6:
                            print("Sabado")
                        else:
                            print("Domingo")
else:
    print("Ese numero no esta dentro del rango solicitado")

Ingresa un numero entre 1 y 7: 4
Capturaste el numero: 4
Jueves

# Ejercicios de tarea
### 1. Hacer un programa que pida 2 numeros enteros y que imprima en pantalla lo siguiente

1. cual de ellos es el numero mayor
2. cual de ellos es el numero menor

o en su defecto imprimir que los valores son iguales

### 2. Hacer un programa que solicite 3 numeros enteros diferentes entre si y que imprima cual de los 3 es el mayor

### 3. Hacer un programa que solicite 3 numeros enteros diferentes entre si y que imprima cual de los 3 es el menor

### 4. Hacer un programa que solicite 4 numeros enteros diferentes entre si e imprima a la salida cual de ellos es el menor y cual de ellos es el mayor

# Seleccion multiple (switch)
En python no existe la estructura de seleccion switch, en su lugar  se emplea la palabra reservada: 
#

In [ ]:
num = int(input("Dame un numero entre 1 y 3: "))
V = float(input("Dame un valor float: "))
val = 0
if num == 1:
    val = 100*V
elif num == 2:
    val = 100 ** V 
else:
    val = 0

print(val)

Dame un numero entre 1 y 3: 1
Dame un valor float: 1
100.0